/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~common/css/normalize.css';
@import '~common/css/_my-theme.variable.scss';
@import '~common/css/material/_my-material.theme.scss';
@import '~common/css/component/index.scss';
@import '~common/css/general/index.scss';
@include my-material();

.theme {
  @include angular-material-theme($app-theme);
  .background-primary {
    background-color: mat-color($app-primary);
  }
  .background-accent {
    background-color: mat-color($app-accent);
  }
  .color-primary {
    color: mat-color($app-primary);
  }
  .color-accent {
    color: mat-color($app-accent);
  }
}

.theme-custom {
  @include angular-material-theme($app-theme-custom);
  .background-primary {
    background-color: mat-color($app-primary-custom);
  }
  .background-accent {
    background-color: mat-color($app-accent-custom);
  }
  .color-primary {
    color: mat-color($app-primary-custom);
  }
  .color-accent {
    color: mat-color($app-accent-custom);
  }
}


* {
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

// cancel all ul li original style
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    display: block;
  }
}

a {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  transition: all .195s cubic-bezier(0.4, 0.0, 1, 1);
}

.transition-long {
  transition: all .295s cubic-bezier(0.4, 0.0, 1, 1);
}

.mar-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}
